# Android
gen/
build/
local.properties
# Old Android
bin/
*.apk
proguard/
 
 
# Idea
*.iws
*.iml
*.ipr
.idea
.gradle/
out
 
# Eclipse
.project
.classpath
.settings
# Eclipse NDK
.cproject
 
# Mac
.DS_Store
 
# Generic
*~
.swp
 
# Android NDK
*.o
*.o.d
*_g
*.a
*.so
*.pinfo
*.gcno
*.bar
gdbserver
gdb.setup
*.apk
app/app-release.apk