<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2016 Fynn Merlevede
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haayhappen.clockplus">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBxeG0NzhUtD3aqIoeNqYX4v1is5L2tOYM" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".alarms.background.UpcomingAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haayhappen.clockplus.MainActivity" />
        </activity>


        <activity
            android:name=".about.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.haayhappen.clockplus.MainActivity" />
        </activity>

        <activity
            android:name=".intro.IntroActivity"
            android:theme="@style/Theme.Intro" />


        <receiver
            android:name=".alarms.background.PendingAlarmScheduler"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".alarms.background.OnBootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".alarms.background.OnBootUpAlarmScheduler"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ringtone.AlarmActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_ringtone"
            android:launchMode="singleTask"
            android:taskAffinity="com.haayhappen.clockplus.RingtoneActivity" />



        <service
            android:name=".ringtone.playback.AlarmRingtoneService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
